.container {
	position: relative;
	width: 80%; /* 하얀 직사각형 너비 조정 */
	height: 450px; /* 하얀 직사각형 높이 조정 */
	background-color: white; /* 하얀색 배경 */
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	top: 100px;
	justify-content: center;
	padding: 10px;
	margin-left: 10%;
}

.chart {
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	transition: 0.3s;
	background: linear-gradient(to right, #3d7cb1, #306998);
	display: inline-block;
	text-align: center;
	margin-left: -290px; /* 좀 더 왼쪽으로 이동 */
	margin-top:135px;
}

.chart-bar {
	width: inherit;
	height: inherit;
	border-radius: 50%;
	background: conic-gradient(#3d7cb1 0%, #3d7cb1 100%); /* 파란색으로 변경 */
}

.options {
	position: absolute;
	top: 10px;
	right: -350px; /* 오른쪽으로 이동 */
	font-size: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: -80px;
}	

.option1-circle, .chart-bar {
	background: linear-gradient(to right, #0055cc, #004899); /* 더 선명한 파란색으로 변경 */
}

.option {
	display: flex;
	align-items: center;
	margin-bottom: 5px; /* 간격을 늘림 */
}

.option-circle {
	width: 8px; /* 원의 크기를 줄임 */
	height: 8px; /* 원의 크기를 줄임 */
	border-radius: 50%;
	margin-right: 5px;
}

.option1-circle, .option2-circle {
	width: 8px; /* 원의 크기를 줄임 */
	height: 8px; /* 원의 크기를 줄임 */
	border-radius: 50%;
	margin-right: 5px;
}

.option1-circle { background-color: #3d7cb1; /* 진한 파란색으로 설정 */ }

.option2-circle { background-color: #ff4500; /* 빨간색으로 설정 */ }

.percentage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px; /* 텍스트 크기를 키움 */
	color: white; /* 텍스트 색상을 하얀색으로 */
}

p.title {
	margin: 10px; /* 위 아래 10px */
	font-size: 24px;
	text-align: left; /* 텍스트를 왼쪽 정렬 */
	position: absolute;
	top: 10px;
	left: 10px;
}

p.subtitle {
	margin: 10px; /* 위 아래 10px */
	font-size: 18px;
	text-align: left; /* 텍스트를 왼쪽 정렬 */
	position: absolute;
	top: 50px; /* 제목 아래에 배치 */
	left: 10px;
}