.question_container { /* border 색 변경 (하늘 -> 하양) */
	background-color: ghostwhite;

	border-color: ghostwhite;
	border-radius: 10px;

	margin: 10px 0px 20px 0px;
	padding: 10px;

	min-height: 100px;
}

.question_name { /* 배경 색 및 폰트 사이즈 변경 */
	background-color: ghostwhite;

	margin: 0px 0px 10px 0px;
	padding: 0px;

	font-size: 29px;
}

.result_answer { /* result 전용 단답형 */
	display: flex;
	justify-content: left;
	align-items: center;

	background-color: #c8c8c8;

	border-radius: 5px;

	padding: 10px 5px 10px 5px;

	font-size: 16px;
}