@import url("form.css");

.menuBar
{
	background-color: #1D1F29;
	
	display: flex;
	justify-content: center;
	
	padding-left: 20px;
	padding-top: 10px;

	height: 40px;
}
.menuElement
{
	margin-right: 10px;
	padding:5px;
	
	color : #C5C7D6;
	font-size: 18px;
	font-weight: 800;
}
.menuElement:hover
{
	text-decoration: underline;
}