.sideBar
{
	background-color: #1f1f31;
	
	display: flex;
	justify-content: center;
	
	padding-left: 20px;
	padding-top: 10px;

	height: 40px;
}
.menuElement
{
	margin-right: 10px;
	padding:5px;
	
	color : #f0e9c4;
}
.menuElement:hover
{
	text-decoration: underline;
}